{% load static %}
<!DOCTYPE html>

<html
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>DECE NAS - Folder Contents</title>

    <meta name="description" content="" />

     <!-- Icons. Uncomment required icon fonts -->
     <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/bsu.ico' %}" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'assets/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

       
        {% include 'faculty/nav.html' %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            {% for unique_code, folder in grouped_folders.items %}

            <div class="modal fade" id="foldermodal{{unique_code}}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <form method="post">
                  {% csrf_token %}
                  <div class="modal-content">
                    <div class="modal-body">
                      <label>File Name</label>
                      <input type="hidden" name="u_code" value="{{ unique_code }}">
                      <input class="form-control" type="text" name="file_name" value="{{ folder.folder_name }}">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button class="btn btn-success" name="change_flname">Change Folder Name</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            

            {% endfor %}


{% for folder in empty_folders %}
<div class="modal fade" id="foldermodal{{folder.unique_code}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-body">
          <label>File Name</label>
          <input type="hidden" name="u_code" value="{{ folder.unique_code }}">
          <input class="form-control" type="text" name="file_name" value="{{ folder.folder_name }}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-success" name="change_flname">Change Folder Name</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endfor %}

            <div class="container-xxl flex-grow-1 container-p-y">
              <h6 class="alert alert-dark">{{ notification }}</h6>
              <h4 class="fw-bold py-3 mb-4">Folders In this Current Folder</h4>
              {% if messages %}
              <div class="alert alert-danger">
                  {% for message in messages %}
                      <p>{{ message }}</p>
                  {% endfor %}
              </div>
          {% endif %}
              <div class="row mb-5">
              <div class="col-md-12">
             

                <button
                type="button"
                class="btn btn-primary" style="background-color: #ff0404;"
                data-bs-toggle="modal"
                data-bs-target="#newfmodal"
              >
              <i class="bx bx-folder-plus me-2" style="color: white; font-size: 22px; margin-top: -4px;"></i> Create New Folder
              </button>

             <!-- Modal -->
<form method="POST">
  {% csrf_token %}
  <div class="modal fade" id="newfmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create New Folder</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Folder Name</label>
            <input type="text" name="folder_name" class="form-control" placeholder="Enter folder name" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea name="description" class="form-control" placeholder="Enter description" required></textarea>
          </div>
          <div class="mb-3" style="display: none;">
            <label class="form-label">Api Code</label>
            <input type="text" name="apicode" value="mm" class="form-control" placeholder="Enter API code"  />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" style="background-color: #ff0404;" name="create">Create Folder</button>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="row">
{% for unique_code, folder in grouped_folders.items %}
<div class="col-xl-4 col-md-4">
  
  <div class="nav-align-top mb-4">
    <div class="dropdown ml-auto" style="background-color: #f0ecf4; border-radius: 5px;">
      <button class="btn btn-link " type="button" id="dropdownMenuButton" style="margin-left: 90%;" data-bs-toggle="dropdown" aria-expanded="false">
        <i class='bx bx-dots-vertical-rounded'></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       <li>
      <button class="btn btn-success m-1"  style="background-color: #20c404;"   data-bs-toggle="modal" data-bs-target="#foldermodal{{unique_code}}">Edit Name</button>

       </li>
        <li><form method="post" onsubmit="return confirmDelete()">
          {% csrf_token %}
            <input type="text" name="folder_code_delete" value="{{ folder.unique_code }}" style="display: none">
            <button style="background-color: #ff0404;" class="btn btn-danger m-1" type="submit">Delete Folder</button>
        </form></li>
        
      </ul>
    </div>
    <ul class="nav nav-tabs nav-fill" role="tablist">
      <li class="nav-item">
        <button
          type="button"
          class="nav-link active"
          role="tab"
          data-bs-toggle="tab"
          data-bs-target="#navs-justified-home{{ unique_code }}"
          aria-controls="navs-justified-home"
          aria-selected="true"
        >
          <i class="tf-icons bx bx-file"></i>Folder Name: {{ folder.folder_name }}
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="nav-link"
          role="tab"
          data-bs-toggle="tab"
          data-bs-target="#navs-justified-profile{{ unique_code }}"
          aria-controls="navs-justified-profile"
          aria-selected="false"
        >
          <i class="tf-icons bx bx-user"></i> Creator
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="nav-link"
          role="tab"
          data-bs-toggle="tab"
          data-bs-target="#navs-justified-messages{{ unique_code }}"
          aria-controls="navs-justified-messages"
          aria-selected="false"
        >
          <i class="tf-icons bx bxs-user-account"></i> Students
        </button>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="navs-justified-home{{ unique_code }}" role="tabpanel">
          <a class="btn btn-success m-1" style="background-color: #20c404;" href="{% url 'view_folder_f' folder_code=unique_code %}">Enter Folder</a>
        <hr>
        <p class="mb-0">
          Folder Sharing Code:   
      </p>
      <textarea rows="1" cols="50" readonly style="width: 100%; border: none; resize: both; /* Allows expanding both horizontally and vertically */ overflow: auto; /* Only shows scrollbars if needed */ appearance: none; /* Removes default styling, including arrows in some browsers */ -webkit-appearance: none; /* For Safari and Chrome */ -moz-appearance: none; /* For Firefox */">{{ unique_code }}</textarea>
      <hr>  
        <p class="mb-0">
          Description: {{ folder.description }}
        </p>
      </div>
      <div class="tab-pane fade" id="navs-justified-profile{{ unique_code }}" role="tabpanel">
        <p>
          {{ folder.faculty_gsuite }}
        </p>
        
      </div>
      <div class="tab-pane fade" id="navs-justified-messages{{ unique_code }}" role="tabpanel">
        <p>
          {% for student in folder.students %}
                          <li>{{ student.student_id }}: {{ student.first_name }}, {{ student.middle_name }}{{ student.last_name }} </li>
        {% endfor %}
        </p>
        {% if not folder.students %}
        No Students Yet

        {% endif %}
      
      </div>
    </div>
  </div>
</div>

{% endfor %}


</div>
<hr>
<h4 class="fw-bold py-3 mb-4">Folders Contents</h4>
<!-- Button trigger modal -->
<button
  href="#basicModal"
  class="btn btn-primary" style="background-color: #ff0404;"
  data-bs-toggle="modal"
  data-bs-target="#basicModal"
  {% if limit == "yes" %} disabled {% endif %}
>
<i class="bx bx-cloud-upload me-2" style="color: white; font-size: 22px; margin-top: -4px;"></i> Upload File
</button>



<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">File Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data" onsubmit="return handleUpload(event)">
          {% csrf_token %}
       
        
          <div id="file-input-container" class="row g-2">
            <div class="col mb-0">
              <label for="file_name" class="form-label">File Name</label>
              <input type="text" name="file_name[]" class="form-control" placeholder="Enter File Name" required />
            </div>
            <div class="col mb-0">
              <label for="file_description" class="form-label">Description</label>
              <input type="text" name="file_description[]" class="form-control" placeholder="Enter Description" />
            </div>
            <div class="col mb-0">
              <label for="file_link" class="form-label">File Link</label>
              <input type="file" name="file_link[]" class="form-control" required />
            </div>
            <div class="col-auto mb-0">
              <button type="button" style="background-color: #ff0404;" class="btn btn-danger remove-file-input" style="margin-top: 2rem;">Delete</button>
            </div>
          </div>
        
          <div class="modal-footer">
            <button type="button" id="add-file-btn" class="btn btn-success" style="background-color: #20c404;">Add File</button>
            <button type="submit" name="upload_file" class="btn btn-primary" style="background-color: #ff0404;">Upload</button>
          </div>
        </form>
        
        <script>
          // Add file input row
          document.getElementById('add-file-btn').addEventListener('click', function() {
            const container = document.getElementById('file-input-container');
            const newRow = document.createElement('div');
            newRow.classList.add('row', 'g-2');
            newRow.innerHTML = `
              <div class="col mb-0">
                <label for="file_name" class="form-label">File Name</label>
                <input type="text" name="file_name[]" class="form-control" placeholder="Enter File Name" required />
              </div>
              <div class="col mb-0">
                <label for="file_description" class="form-label">Description</label>
                <input type="text" name="file_description[]" class="form-control" placeholder="Enter Description" />
              </div>
              <div class="col mb-0">
                <label for="file_link" class="form-label">File Link</label>
                <input type="file" name="file_link[]" class="form-control" required />
              </div>
              <div class="col-auto mb-0">
                <button type="button" style="background-color: #ff0404;" class="btn btn-danger remove-file-input" style="margin-top: 2rem;">Delete</button>
              </div>
            `;
            container.appendChild(newRow);
        
            // Add event listener for the delete button
            const removeBtn = newRow.querySelector('.remove-file-input');
            removeBtn.addEventListener('click', function() {
              newRow.remove();
            });
          });
        
          // Handle form submission, you can add custom validation or processing here
          function handleUpload(event) {
            // Example: perform additional validation before submitting
            return true; // Proceed with form submission
          }
        </script>
        
      </div>
    </div>
  </div>
</div>


</div>
</div>
<p class="card-text">Search for Files:</p>

<input type="text " class="form-control" name="search-value" id="search-val"  placeholder="Search by name or description..." onkeyup="filterFiles()" />
<hr>
<select id="sortSelect" onchange="sortFiles()" class="btn btn-primary" style="background-color: #ff0404;">
  <option value="name-asc">Sort by Name (A–Z)</option>
  <option value="name-desc">Sort by Name (Z–A)</option>
  <option value="date-desc">Sort by Date (Newest First)</option>
  <option value="date-asc">Sort by Date (Oldest First)</option>
</select>
<hr>

<script>
  let allItems = [];

  // Initialize on page load
  window.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('folder-contents');
    allItems = Array.from(container.getElementsByClassName('file-item'));
    filterAndSort(); // Apply initial state
  });

  function filterAndSort() {
    const searchValue = document.getElementById('search-val').value.toLowerCase().trim();
    const sortValue = document.getElementById('sortSelect').value;

    let filteredItems = allItems.filter(item => {
      const name = item.querySelector('.file-name').textContent.toLowerCase();
      const description = item.querySelector('.file-description').textContent.toLowerCase();
      return name.includes(searchValue) || description.includes(searchValue);
    });

    filteredItems.sort((a, b) => {
      if (sortValue === 'name-asc' || sortValue === 'name-desc') {
        const nameA = a.querySelector('.file-name').textContent.replace('Name: ', '').toLowerCase();
        const nameB = b.querySelector('.file-name').textContent.replace('Name: ', '').toLowerCase();
        return sortValue === 'name-asc' ? nameA.localeCompare(nameB) : nameB.localeCompare(nameA);
      }

      if (sortValue === 'date-asc' || sortValue === 'date-desc') {
        const dateA = getDateFromItem(a);
        const dateB = getDateFromItem(b);
        return sortValue === 'date-asc' ? dateA - dateB : dateB - dateA;
      }

      return 0;
    });

    const container = document.getElementById('folder-contents');
    container.innerHTML = '';
    filteredItems.forEach(item => container.appendChild(item));
  }

  function getDateFromItem(item) {
    const paragraphs = item.querySelectorAll('.card-text');
    for (let p of paragraphs) {
      if (p.textContent.includes('Date Uploaded:')) {
        return new Date(p.textContent.replace('Date Uploaded: ', '').trim());
      }
    }
    return new Date(0);
  }

  function filterFiles() {
    filterAndSort();
  }

  function sortFiles() {
    filterAndSort();
  }
</script>




              <div class="row mb-5"   id="folder-contents">
              
                  {% for pdf in files.pdfs %}
                      <div class="col-md-6 col-xl-6 file-item" >
                          <div class="card mb-3">
                              <div class="card-body">
                                  <h5 class="card-title file-name d-flex justify-content-between">Name: {{ pdf.file_name }} ({{ pdf.file_link }}) <div class="dropdown ml-auto">
                                    <button class="btn btn-link " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                      <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <li><a class="dropdown-item" href="{% url 'f_serve_file'  folder_code=folder_code filename=pdf.file_link  %}" download> Download</a></li>
                                      <li><button class="dropdown-item btn"  type="button" data-bs-toggle="modal" data-bs-target="#filemodal{{pdf.file_id}}">Edit</button></li>
                                      <li><form method="post" onsubmit="return confirmDelete()">              
                                        {% csrf_token %}
                                      
                                                                      <input type="text" value="{{ pdf.file_link }}" name="file_name" style="display: none;">
                                                                      <input type="text" value="{{ pdf.file_id }}" name="file_id" style="display: none;">
                                                                      <button type="submit" class="btn " name="delete_file">Delete</button>
                                                                  </form>
                                                                  
                                                                  <script>
                                                                      function confirmDelete() {
                                                                          return confirm("Are you sure you want to delete this file?");
                                                                      }
                                                                  </script></li>
                                    </ul>
                                  </div></h5>
                                  <p class="card-text file-description">Description: {{ pdf.file_description }}</p>
                                  <p class="card-text file-description">Uploader: {{ pdf.user_name }}</p>
                                  <p class="card-text file-description">Date Uploaded: {{ pdf.uploaded_at }}</p>
                                  
                                  <iframe src="{% url 'f_serve_file' folder_code=folder_code filename=pdf.file_link  %}" style="width: 100%;" height="400"></iframe>
<!-- Modal -->
<div class="modal fade" id="filemodal{{pdf.file_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="post">
        {% csrf_token %}
        <div class="modal-content">
      <div class="modal-body">
        <label>File Name</label>

      <input class="form-control" type="text" value="{{ pdf.file_id }}" readonly name="file_id" style="display: none;">
      <input class="form-control" type="text" value="{{ pdf.file_name }}" name="file_name">
      
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-success" style="background-color: #20c404;" name="change_fname">Change File Name</button>
      </form>
      </div>
    </div>
  </div>
</div>
                              <hr>
                             
                              </div>
                          </div>
                      </div>
                      

                      
                  {% endfor %}

                  {% for text in files.texts %}
                      <div class="col-md-6 col-xl-6 file-item" >
                          <div class="card mb-3">
                              <div class="card-body">
                                  <h5 class="card-title file-name d-flex justify-content-between">Name: {{ text.file_name }} ({{ text.file_link }}) <div class="dropdown ml-auto">
                                    <button class="btn btn-link " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                      <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <li><a class="dropdown-item" href="{% url 'f_serve_file'  folder_code=folder_code filename=text.file_link  %}" download> Download</a></li>
                                      <li><button class="dropdown-item btn"  type="button" data-bs-toggle="modal" data-bs-target="#filemodal{{text.file_id}}">Edit</button></li>
                                      <li><form method="post" onsubmit="return confirmDelete()">              
                                        {% csrf_token %}
                                      
                                                                      <input type="text" value="{{ text.file_link }}" name="file_name" style="display: none;">
                                                                      <input type="text" value="{{ text.file_id }}" name="file_id" style="display: none;">
                                      
                                                                      <button type="submit" class="btn " name="delete_file">Delete</button>
                                                                  </form>
                                                                  
                                                                  <script>
                                                                      function confirmDelete() {
                                                                          return confirm("Are you sure you want to delete this file?");
                                                                      }
                                                                  </script></li>
                                    </ul>
                                  </div></h5>
                                  <p class="card-text file-description">Description: {{ text.file_description }}</p>
                                  <p class="card-text file-description">Uploader: {{ text.user_name }}</p>
                                  <p class="card-text file-description">Date Uploaded: {{ text.uploaded_at }}</p>
                                  <hr>
                                  <object data="{% url 'f_serve_file' folder_code=folder_code filename=text.file_link %}" style="width: 100%;" height="400"></object>
<!-- Modal -->
<div class="modal fade" id="filemodal{{text.file_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="post">
        {% csrf_token %}
        <div class="modal-content">
      <div class="modal-body">
        <label>File Name</label>
      <input class="form-control" type="text" value="{{ text.file_id }}" readonly name="file_id" style="display: none;">
      <input class="form-control" type="text" value="{{ text.file_name }}" name="file_name">
      
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-success" style="background-color: #20c404;" name="change_fname">Change File Name</button>
      </form>
      </div>
    </div>
  </div>
</div>

                              <hr>
                             
                            
                              </div>
                          </div>
                      </div>
                  {% endfor %}
                
                  {% for video in files.videos %}
                      <div class="col-md-6 col-xl-6 file-item" >
                          <div class="card mb-3">
                              <div class="card-body">
                                  <h5 class="card-title file-name d-flex justify-content-between">Name: {{ video.file_name }} ({{ video.file_link }}) 
                                    <div class="dropdown ml-auto">
                                    <button class="btn btn-link " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                      <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <li><a class="dropdown-item" href="{% url 'f_serve_file'  folder_code=folder_code filename=video.file_link  %}" download> Download</a></li>
                                      <li><button class="dropdown-item btn"  type="button" data-bs-toggle="modal" data-bs-target="#filemodal{{video.file_id}}">Edit</button></li>
                                      <li> <form method="post" onsubmit="return confirmDelete()">              
                                        {% csrf_token %}
                                      
                                                                      <input type="text" value="{{ video.file_link }}" name="file_name" style="display: none;">
                                                                      <input type="text" value="{{ video.file_id }}" name="file_id" style="display: none;">
                                      
                                                                      <button type="submit" class="btn" name="delete_file">Delete</button>
                                                                  </form>
                                                                  
                                                                  <script>
                                                                      function confirmDelete() {
                                                                          return confirm("Are you sure you want to delete this file?");
                                                                      }
                                                                  </script></li>
                                    </ul>
                                  </div></h5>
                                  <p class="card-text file-description">Description: {{ video.file_description }}</p>
                                  <p class="card-text file-description">Uploader: {{ video.user_name }}</p>
                                  <p class="card-text file-description">Date Uploaded: {{ video.uploaded_at }}</p>
                                  
                                  <video width="450" controls>
                                    <source src="{% url 'f_serve_file'  folder_code=folder_code filename=video.file_link  %}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                              <hr>
                              <!-- Modal -->
<div class="modal fade" id="filemodal{{video.file_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="post">
        {% csrf_token %}
        <div class="modal-content">
      <div class="modal-body">
        <label>File Name</label>

      <input class="form-control" type="text" value="{{ video.file_id }}" readonly name="file_id" style="display: none;">
      <input class="form-control" type="text" value="{{ video.file_name }}" name="file_name">
      
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-success" style="background-color: #20c404;" name="change_fname">Change File Name</button>
      </form>
      </div>
    </div>
  </div>
</div>
                             
                              </div>
                          </div>
                      </div>
                  {% endfor %}
                 
                  {% for image in files.images %}
                      <div class="col-md-6 col-xl-6 file-item" >
                          <div class="card mb-3">
                              <div class="card-body">
                                  <h5 class="card-title file-name d-flex justify-content-between">Name: {{ image.file_name }} ({{ image.file_link }}) <div class="dropdown ml-auto">
                                    <button class="btn btn-link " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                      <i class='bx bx-dots-vertical-rounded'></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <li><a class="dropdown-item" href="{% url 'f_serve_file'  folder_code=folder_code filename=image.file_link  %}" download> Download</a></li>
                                      <li><button class="dropdown-item btn"  type="button" data-bs-toggle="modal" data-bs-target="#filemodal{{image.file_id}}">Edit</button></li>
                                      <li>   <form method="post" onsubmit="return confirmDelete()">              
                                        {% csrf_token %}
                                      
                                                                      <input type="text" value="{{ image.file_link }}" name="file_name" style="display: none;">
                                                                      <input type="text" value="{{ image.file_id }}" name="file_id" style="display: none;">
                                      
                                                                      <button type="submit" class="btn " name="delete_file">Delete</button>
                                                                  </form>
                                                                  
                                                                  <script>
                                                                      function confirmDelete() {
                                                                          return confirm("Are you sure you want to delete this file?");
                                                                      }
                                                                  </script></li>
                                    </ul>
                                  </div></h5>
                                  <p class="card-text file-description">Description: {{ image.file_description }}</p>
                                  <p class="card-text file-description">Uploader: {{ image.user_name }}</p>
                                  <p class="card-text file-description">Date Uploaded: {{ image.uploaded_at }}</p>
                                  
                                  <img style="width: 100%;"  src="{% url 'f_serve_file'  folder_code=folder_code filename=image.file_link  %}" width="300" alt="Image Preview">

<!-- Modal -->
<div class="modal fade" id="filemodal{{image.file_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="post">
        {% csrf_token %}
        <div class="modal-content">
      <div class="modal-body">
        <label>File Name</label>

      <input class="form-control" type="text" value="{{ image.file_id }}" readonly name="file_id" style="display: none;">
      <input class="form-control" type="text" value="{{ image.file_name }}" name="file_name">
      
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-success" style="background-color: #20c404;" name="change_fname">Change File Name</button>
      </form>
      </div>
    </div>
  </div>
</div>
                              <hr>
                            
                            </div>
                          </div>
                      </div>
                  {% endfor %}
              </div>
          </div>
    
          <div class="modal fade" id="progressModal" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content p-4 text-center">
                      <h2>Processing...</h2>
                      <div class="progress mt-3">
                          <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                      </div>
                  </div>
              </div>
          </div>
      
          <script>
            function handleUpload(event) {
                event.preventDefault(); // Prevent form submission
        
                let modalElement = document.getElementById("progressModal");
                let modal = new bootstrap.Modal(modalElement);
                modal.show();
        
                let progressBar = document.getElementById("progress-bar");
                let width = 0;
                let interval = setInterval(function () {
                    if (width >= 100) {
                        clearInterval(interval);
                        setTimeout(() => {
                            modal.hide();
                            progressBar.style.width = "0%";
                            progressBar.innerText = "0%";
                            event.target.submit(); // Submit the form once loading completes
                        }, 500);
                    } else {
                        width += 5;
                        progressBar.style.width = width + "%";
                        progressBar.setAttribute("aria-valuenow", width);
                        progressBar.innerText = width + "%";
                    }
                }, 30);
            }
  
            </script>
        {% include 'footer.html' %}

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/masonry/masonry.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script src="{% static 'assets/js/ui-modals.js' %}"></script>
    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js' %}"></script>
  </body>
</html>
